@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gradient-hr {
  background: linear-gradient(
    to left,
    transparent 0%,
    #cf776162 50%,
    transparent 100%
  );
  border: none;
  height: 1px;
}
.hide-small {
  display: none;
}

nav {
  background: linear-gradient(180deg, #050505 -80%, rgba(0, 0, 0, 0) 100%);
}

.gradient-heading {
  background: linear-gradient(90deg, #cf7761 0.99%, #bebebe 49.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-heading-small {
  background: linear-gradient(90deg, #cf7761 40.99%, #bebebe 113.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-heading-faded {
  background: linear-gradient(
    92deg,
    #bebebe 1.03%,
    rgba(190, 190, 190, 0) 136.7%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-card {
  background: linear-gradient(102deg, #222 40.32%, #050505 111.31%);
  position: relative;
  transition: all 1s ease-in;
}

.project-color {
  background: linear-gradient(
      180deg,
      rgba(204, 225, 255, 0.04) 59.47%,
      rgba(0, 0, 0, 0) 117.23%
    ),
    radial-gradient(
      123.77% 123.77% at 50% -11.53%,
      rgba(204, 225, 255, 0.14) 0%,
      rgba(5, 5, 5, 0) 100%
    );
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.main-card:hover > .project-color {
  opacity: 1;
}

.project-img {
  transition: all 0.5s ease-in-out;
}

.back-card:hover > .main-card > div > .project-img {
  scale: 0.95;
  transition: all 0.5s ease-in-out;
}

.bento-card-bg {
  padding: 1px;
  background: linear-gradient(142deg, #bebebe -40.32%, #050505 61.31%);
}

.bento-card {
  background: radial-gradient(
      146.43% 100% at 49.92% 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(204, 225, 255, 0.2) 100%
    ),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(187, 206, 233, 0.1) 84.64%
    ),
    #222;
}

.img-shadow {
  box-shadow: 0px -20px 10px 60px #232323 inset,
    20px -20px 40px 30px #242526 inset, -20px 20px 40px 60px #232323 inset;
}
